---
title: Verifica impiego verifica i9
description: In conformità con l'Immigration Reform and Control Act, i datori di lavoro negli Stati Uniti sono tenuti a verificare l'idoneità all'impiego dei nuovi dipendenti assunti.
author: ShielaSogge
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 92480a8800571d477fcf00063e3303172274e595
ms.sourcegitcommit: 074b6e212d19dd5d84881d1cdd096611a18c207f
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 03/31/2021
ms.locfileid: "5752106"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="cadc1-103">Verifica impiego verifica i9</span><span class="sxs-lookup"><span data-stu-id="cadc1-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="cadc1-104">In conformità con l'Immigration Reform and Control Act, i datori di lavoro negli Stati Uniti sono tenuti a verificare l'idoneità all'impiego dei nuovi dipendenti assunti.</span><span class="sxs-lookup"><span data-stu-id="cadc1-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="cadc1-105">Questa procedura descrive i passaggi per la registrazione dei documenti necessari per la verifica I-9.</span><span class="sxs-lookup"><span data-stu-id="cadc1-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="cadc1-106">Per questa procedura, utilizzare la società dimostrativa USMF.</span><span class="sxs-lookup"><span data-stu-id="cadc1-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="cadc1-107">Andare a Risorse umane > Lavoratori > Dipendenti.</span><span class="sxs-lookup"><span data-stu-id="cadc1-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="cadc1-108">Utilizzare il filtro rapido per trovare i record.</span><span class="sxs-lookup"><span data-stu-id="cadc1-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="cadc1-109">Ad esempio, applicare un filtro al campo Nome in base al valore "Vince".</span><span class="sxs-lookup"><span data-stu-id="cadc1-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="cadc1-110">Selezionare il dipendente.</span><span class="sxs-lookup"><span data-stu-id="cadc1-110">Select the employee.</span></span> <span data-ttu-id="cadc1-111">Esempio: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="cadc1-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="cadc1-112">Espandere la scheda dettaglio Informazioni personali.</span><span class="sxs-lookup"><span data-stu-id="cadc1-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="cadc1-113">Fare clic su Numeri di identificazione.</span><span class="sxs-lookup"><span data-stu-id="cadc1-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="cadc1-114">Fare clic su Nuovo.</span><span class="sxs-lookup"><span data-stu-id="cadc1-114">Click New.</span></span>
7. <span data-ttu-id="cadc1-115">Selezionare il tipo di identificazione per la registrazione.</span><span class="sxs-lookup"><span data-stu-id="cadc1-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="cadc1-116">Esempio: passaporto</span><span class="sxs-lookup"><span data-stu-id="cadc1-116">Example: Passport</span></span>
8. <span data-ttu-id="cadc1-117">Digitare un valore nel campo Numero.</span><span class="sxs-lookup"><span data-stu-id="cadc1-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="cadc1-118">Selezionare Sì nel campo Primario.</span><span class="sxs-lookup"><span data-stu-id="cadc1-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="cadc1-119">Nel campo Descrizione immettere una breve descrizione del record di identificazione.</span><span class="sxs-lookup"><span data-stu-id="cadc1-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="cadc1-120">Nel campo dell'ente emittente selezionare l'ente che ha emesso il documento di identificazione del lavoratore.</span><span class="sxs-lookup"><span data-stu-id="cadc1-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="cadc1-121">Esempio: ente pubblico</span><span class="sxs-lookup"><span data-stu-id="cadc1-121">Example: Government</span></span>
12. <span data-ttu-id="cadc1-122">Immettere la data in cui l'ente ha rilasciato il documento di identificazione al lavoratore.</span><span class="sxs-lookup"><span data-stu-id="cadc1-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="cadc1-123">Esempio: 15/02/2011</span><span class="sxs-lookup"><span data-stu-id="cadc1-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="cadc1-124">Immettere la data di scadenza del documento d'identificazione.</span><span class="sxs-lookup"><span data-stu-id="cadc1-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="cadc1-125">Esempio: 15/02/2021</span><span class="sxs-lookup"><span data-stu-id="cadc1-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="cadc1-126">Fare clic su Salva.</span><span class="sxs-lookup"><span data-stu-id="cadc1-126">Click Save.</span></span>
15. <span data-ttu-id="cadc1-127">Chiudere la pagina.</span><span class="sxs-lookup"><span data-stu-id="cadc1-127">Close the page.</span></span>
16. <span data-ttu-id="cadc1-128">Fare clic sulla scheda Impiego.</span><span class="sxs-lookup"><span data-stu-id="cadc1-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="cadc1-129">Fare clic su I-9.</span><span class="sxs-lookup"><span data-stu-id="cadc1-129">Click I-9.</span></span>
18. <span data-ttu-id="cadc1-130">Fare clic su Nuovo.</span><span class="sxs-lookup"><span data-stu-id="cadc1-130">Click New.</span></span>
19. <span data-ttu-id="cadc1-131">Selezionare un'opzione nel campo di idoneità al lavoro.</span><span class="sxs-lookup"><span data-stu-id="cadc1-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="cadc1-132">Se il dipendente non è un cittadino degli Stati Uniti, sarà inoltre necessario immettere l'identificativo estero o il numero di ingresso del lavoratore.</span><span class="sxs-lookup"><span data-stu-id="cadc1-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="cadc1-133">Selezionare l'opzione GroupListA.</span><span class="sxs-lookup"><span data-stu-id="cadc1-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="cadc1-134">L'elenco selezionato dipende dal documento di identificazione che il lavoratore ha fornito.</span><span class="sxs-lookup"><span data-stu-id="cadc1-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="cadc1-135">Il lavoratore deve fornire un documento dell'elenco A o un documento dell'elenco B e C. Ad esempio, se il lavoratore ha fornito un passaporto, può essere selezionato l'elenco A.</span><span class="sxs-lookup"><span data-stu-id="cadc1-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="cadc1-136">Tuttavia, se il lavoratore ha fornito solo la patente di guida e la tessera di previdenza sociale, è necessario selezionare gli elenchi B e C.</span><span class="sxs-lookup"><span data-stu-id="cadc1-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="cadc1-137">Nel campo Tipo di documento I-9 selezionare il tipo di documento fornito dal dipendente.</span><span class="sxs-lookup"><span data-stu-id="cadc1-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="cadc1-138">Nel campo Numero documento immettere o selezionare un valore.</span><span class="sxs-lookup"><span data-stu-id="cadc1-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="cadc1-139">Fare clic su Salva.</span><span class="sxs-lookup"><span data-stu-id="cadc1-139">Click Save.</span></span>



[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]