--- 
title: Verifica di impiego tramite il modulo I-9
description: "In conformità con l'Immigration Reform and Control Act, i datori di lavoro negli Stati Uniti sono tenuti a verificare l'idoneità all'impiego dei nuovi dipendenti assunti."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 663da58ef01b705c0c984fbfd3fce8bc31be04c6
ms.openlocfilehash: 0841cd664a842880f24c30090a33d846b0c08ac4
ms.contentlocale: it-it
ms.lasthandoff: 08/29/2017

---
# <a name="employment-verification-using-form-i-9"></a><span data-ttu-id="f87a4-103">Verifica di impiego tramite il modulo I-9</span><span class="sxs-lookup"><span data-stu-id="f87a4-103">Employment verification using form I-9</span></span>

[!include[task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="f87a4-104">In conformità con l'Immigration Reform and Control Act, i datori di lavoro negli Stati Uniti sono tenuti a verificare l'idoneità all'impiego dei nuovi dipendenti assunti.</span><span class="sxs-lookup"><span data-stu-id="f87a4-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="f87a4-105">Questa procedura descrive i passaggi per la registrazione dei documenti necessari per la verifica I-9.</span><span class="sxs-lookup"><span data-stu-id="f87a4-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="f87a4-106">Per questa procedura, utilizzare la società dimostrativa USMF.</span><span class="sxs-lookup"><span data-stu-id="f87a4-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="f87a4-107">Andare a Risorse umane > Lavoratori > Dipendenti.</span><span class="sxs-lookup"><span data-stu-id="f87a4-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="f87a4-108">Utilizzare il filtro rapido per trovare i record.</span><span class="sxs-lookup"><span data-stu-id="f87a4-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="f87a4-109">Ad esempio, applicare un filtro al campo Nome in base al valore "Vince".</span><span class="sxs-lookup"><span data-stu-id="f87a4-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="f87a4-110">Selezionare il dipendente.</span><span class="sxs-lookup"><span data-stu-id="f87a4-110">Select the employee.</span></span> <span data-ttu-id="f87a4-111">Esempio: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="f87a4-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="f87a4-112">Espandere la scheda dettaglio Informazioni personali.</span><span class="sxs-lookup"><span data-stu-id="f87a4-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="f87a4-113">Fare clic su Numeri di identificazione.</span><span class="sxs-lookup"><span data-stu-id="f87a4-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="f87a4-114">Fare clic su Nuovo.</span><span class="sxs-lookup"><span data-stu-id="f87a4-114">Click New.</span></span>
7. <span data-ttu-id="f87a4-115">Selezionare il tipo di identificazione per la registrazione.</span><span class="sxs-lookup"><span data-stu-id="f87a4-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="f87a4-116">Esempio: passaporto</span><span class="sxs-lookup"><span data-stu-id="f87a4-116">Example: Passport</span></span>
8. <span data-ttu-id="f87a4-117">Digitare un valore nel campo Numero.</span><span class="sxs-lookup"><span data-stu-id="f87a4-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="f87a4-118">Selezionare Sì nel campo Primario.</span><span class="sxs-lookup"><span data-stu-id="f87a4-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="f87a4-119">Nel campo Descrizione immettere una breve descrizione del record di identificazione.</span><span class="sxs-lookup"><span data-stu-id="f87a4-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="f87a4-120">Nel campo dell'ente emittente selezionare l'ente che ha emesso il documento di identificazione del lavoratore.</span><span class="sxs-lookup"><span data-stu-id="f87a4-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="f87a4-121">Esempio: ente pubblico</span><span class="sxs-lookup"><span data-stu-id="f87a4-121">Example: Government</span></span>
12. <span data-ttu-id="f87a4-122">Immettere la data in cui l'ente ha rilasciato il documento di identificazione al lavoratore.</span><span class="sxs-lookup"><span data-stu-id="f87a4-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="f87a4-123">Esempio: 15/02/2011</span><span class="sxs-lookup"><span data-stu-id="f87a4-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="f87a4-124">Immettere la data di scadenza del documento d'identificazione.</span><span class="sxs-lookup"><span data-stu-id="f87a4-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="f87a4-125">Esempio: 15/02/2021</span><span class="sxs-lookup"><span data-stu-id="f87a4-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="f87a4-126">Fare clic su Salva.</span><span class="sxs-lookup"><span data-stu-id="f87a4-126">Click Save.</span></span>
15. <span data-ttu-id="f87a4-127">Chiudere la pagina.</span><span class="sxs-lookup"><span data-stu-id="f87a4-127">Close the page.</span></span>
16. <span data-ttu-id="f87a4-128">Fare clic sulla scheda Impiego.</span><span class="sxs-lookup"><span data-stu-id="f87a4-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="f87a4-129">Fare clic su I-9.</span><span class="sxs-lookup"><span data-stu-id="f87a4-129">Click I-9.</span></span>
18. <span data-ttu-id="f87a4-130">Fare clic su Nuovo.</span><span class="sxs-lookup"><span data-stu-id="f87a4-130">Click New.</span></span>
19. <span data-ttu-id="f87a4-131">Selezionare un'opzione nel campo di idoneità al lavoro.</span><span class="sxs-lookup"><span data-stu-id="f87a4-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="f87a4-132">Se il dipendente non è un cittadino degli Stati Uniti, sarà inoltre necessario immettere l'identificativo estero o il numero di ingresso del lavoratore.</span><span class="sxs-lookup"><span data-stu-id="f87a4-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="f87a4-133">Selezionare l'opzione GroupListA.</span><span class="sxs-lookup"><span data-stu-id="f87a4-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="f87a4-134">L'elenco selezionato dipende dal documento di identificazione che il lavoratore ha fornito.</span><span class="sxs-lookup"><span data-stu-id="f87a4-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="f87a4-135">Il lavoratore deve fornire un documento dell'elenco A o un documento dell'elenco B e C. Ad esempio, se il lavoratore ha fornito un passaporto, può essere selezionato l'elenco A.</span><span class="sxs-lookup"><span data-stu-id="f87a4-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="f87a4-136">Tuttavia, se il lavoratore ha fornito solo la patente di guida e la tessera di previdenza sociale, è necessario selezionare gli elenchi B e C.</span><span class="sxs-lookup"><span data-stu-id="f87a4-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="f87a4-137">Nel campo Tipo di documento I-9 selezionare il tipo di documento fornito dal dipendente.</span><span class="sxs-lookup"><span data-stu-id="f87a4-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="f87a4-138">Nel campo Numero documento immettere o selezionare un valore.</span><span class="sxs-lookup"><span data-stu-id="f87a4-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="f87a4-139">Fare clic su Salva.</span><span class="sxs-lookup"><span data-stu-id="f87a4-139">Click Save.</span></span>


