---
title: Verifica impiego verifica i9
description: In conformità con l'Immigration Reform and Control Act, i datori di lavoro negli Stati Uniti sono tenuti a verificare l'idoneità all'impiego dei nuovi dipendenti assunti.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.sourcegitcommit: 0f530e5f72a40f383868957a6b5cb0e446e4c795
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 01/29/2019
ms.locfileid: "333325"
---
# <a name="employment-verification-i9-verification"></a>Verifica impiego verifica i9

[!include [task guide banner](../../../includes/task-guide-banner.md)]

In conformità con l'Immigration Reform and Control Act, i datori di lavoro negli Stati Uniti sono tenuti a verificare l'idoneità all'impiego dei nuovi dipendenti assunti. Questa procedura descrive i passaggi per la registrazione dei documenti necessari per la verifica I-9. Per questa procedura, utilizzare la società dimostrativa USMF.

1. Andare a Risorse umane > Lavoratori > Dipendenti.
2. Utilizzare il filtro rapido per trovare i record. Ad esempio, applicare un filtro al campo Nome in base al valore "Vince".
3. Selezionare il dipendente. Esempio: Vince Prado
4. Espandere la scheda dettaglio Informazioni personali.
5. Fare clic su Numeri di identificazione.
6. Fare clic su Nuovo.
7. Selezionare il tipo di identificazione per la registrazione. Esempio: passaporto
8. Digitare un valore nel campo Numero.
9. Selezionare Sì nel campo Primario.
10. Nel campo Descrizione immettere una breve descrizione del record di identificazione.
11. Nel campo dell'ente emittente selezionare l'ente che ha emesso il documento di identificazione del lavoratore. Esempio: ente pubblico
12. Immettere la data in cui l'ente ha rilasciato il documento di identificazione al lavoratore. Esempio: 15/02/2011
13. Immettere la data di scadenza del documento d'identificazione. Esempio: 15/02/2021
14. Fare clic su Salva.
15. Chiudere la pagina.
16. Fare clic sulla scheda Impiego.
17. Fare clic su I-9.
18. Fare clic su Nuovo.
19. Selezionare un'opzione nel campo di idoneità al lavoro.
    * Se il dipendente non è un cittadino degli Stati Uniti, sarà inoltre necessario immettere l'identificativo estero o il numero di ingresso del lavoratore.  
20. Selezionare l'opzione GroupListA.
    * L'elenco selezionato dipende dal documento di identificazione che il lavoratore ha fornito. Il lavoratore deve fornire un documento dell'elenco A o un documento dell'elenco B e C. Ad esempio, se il lavoratore ha fornito un passaporto, può essere selezionato l'elenco A. Tuttavia, se il lavoratore ha fornito solo la patente di guida e la tessera di previdenza sociale, è necessario selezionare gli elenchi B e C.  
21. Nel campo Tipo di documento I-9 selezionare il tipo di documento fornito dal dipendente.
22. Nel campo Numero documento immettere o selezionare un valore.
23. Fare clic su Salva.

